body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header, footer {
  background-color: #0077cc;
  color: white;
  text-align: center;
  padding: 20px;
}
main {
  padding: 20px;
  text-align: center;
}
input, button {
  padding: 10px;
  margin-top: 10px;
}
#resultado a {
  display: block;
  margin-top: 10px;
  color: #0077cc;
  font-weight: bold;
}